a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

button, html input[type=button], input[type=submit] {
    -webkit-apperance: button;
    cursor: pointer;
}

button[disabled], html input[disabled] {
    cursor: default;
}

ol, ul {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

em, i, u {
    font-style: normal
}
.container{
    width: 1300px;
    margin: 0 auto;
}

.fl {
    float: left   

}
.fr {
    float: right 
}

.clearfix:after {  /*清除浮动*/
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
.clearfix {
    *zoom: 1
}
a {
    text-decoration: none;
    color: #ff0c0c;
}
a:hover {
    color:#ff0c0c;
}
@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot');
    /* IE9*/
    src: url('iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /*chrome, firefox */
    url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
body{
    height: 5000px;
}
